*
!*/
!base/*.tex
!code/*.py
code/Example.py
!content/*.tex
!images/*
!images/*.png
!settings/*.tex
!abbreviations.tex
!base-data.tex
!examples.tex
!main.tex
!references.bib
!Makefile
!config/latexmkrc
!config/xurl.sty
!.vscode/settings.json
!BUILD.md
!appendix/*.tex
!pdf/*
!code/*
!.gitignore
test/*
build/
