*
!*/
!base/*.tex
!code/*.py
code/Example.py
!content/*.tex
!images/*
!images/*.png
!settings/*.tex
!abbreviations.tex
!base-data.tex
!examples.tex
!main.tex
!references.bib
!xurl.sty
!appendix/*.tex
!pdf/*
!code/*
!.gitignore